@if (!isLoaded)
{
    <LoadingScreen/>
}
else
{
    <div class="row justify-content-end">
        <div class="col-3">
            <input title="用户名" style="width: 100%; height: 100%" @bind-value=UsernameQuery />
        </div>
        <div class="col-1">
            <button type="button" class="btn btn-primary" stype="width: 100%" @onclick=Request>查询</button>
        </div>
    </div>

    <div class="row">
        <UserTable Users="response.Items" SortCallback="SortTable" SortMetaData="sortMetaData" />
    </div>

    <div class="row h-auto">
        <div class="col">
            <Pagination MetaData="response.MetaData" Spread="3" OnSelectedPageCallback="SelectedPage" OnChangePageSizeCallback="ChangePageSize" />
        </div>
        <div class="col-1 text-muted text-end fst-italic"  style="font-size: 0.1rem">@requestTime ms</div>
    </div>
}

@code {
    public PagingResponse<BiliUser> response { get; set; } = new();

    [Parameter]
    public int Page { get; set; } = 1;
    [Parameter]
    public int PageSize { get; set; } = 10;
    [Parameter]
    public string Sort { get; set; } = "-time";
    [Parameter]
    public string? UsernameQuery { get; set; } = null;
    [Parameter]
    public string? SignQuery { get; set; } = null;

    [Inject]
    private BiliUserService userService { get; set; } = null!;
    private SortMetaData sortMetaData => new SortMetaData(Sort);

    private long requestTime;
    private bool isLoaded = false;

    protected override async Task OnInitializedAsync()
    {
        await Request();
    }

    private async Task ChangePageSize(int size)
    {
        PageSize = size;
        Page = 1;
        await Request();
    }

    private async Task SelectedPage(int page)
    {
        Page = page;
        await Request();
    }

    private async Task SortTable(string sort)
    {
        Sort = sort;
        Page = 1;
        await Request();
    }

    private async Task Request()
    {
        isLoaded = false;
        var stopWatch = new Stopwatch();
        stopWatch.Start();
        response = await userService.Pagination(page: Page, size: PageSize, sort: Sort, usernameQuery: UsernameQuery, signQuery: SignQuery);
        stopWatch.Stop();
        requestTime = stopWatch.ElapsedMilliseconds;
        isLoaded = true;
    }
}
