@inject AuthenticationStateProvider authProvider

<CascadingAuthenticationState>
    <Router AppAssembly="@typeof(App).Assembly">
        <Found Context="routeData">
            <AuthorizeRouteView RouteData="@routeData" DefaultLayout="layout" >
                <NotAuthorized>
                    <BlazorWeb.Pages.Guest></BlazorWeb.Pages.Guest>
                </NotAuthorized>
            </AuthorizeRouteView>
            <FocusOnNavigate RouteData="@routeData" Selector="h1" />
        </Found>
        <NotFound>
            <PageTitle>Not found</PageTitle>
            <LayoutView Layout="@typeof(ContainerLayout)">
                <p role="alert">Sorry, there's nothing at this address.</p>
            </LayoutView>
        </NotFound>
    </Router>
</CascadingAuthenticationState>


@code{
    private Type layout { get; set; } = null!;

    protected override async Task OnInitializedAsync()
    {
        var authState = await authProvider.GetAuthenticationStateAsync();
        layout = authState.User.Identity?.IsAuthenticated ?? false ? typeof(ContainerLayout) : typeof(GuestLayout);
    }
}
