@page
@model Web.Pages.BiliUserModel
@{
    ViewBag.Title = "用户:" + @Model.UserId;
}

<div class="row">
    <div class="col-3">
            <component type="typeof(UserCard)" render-mode="Server" param-UserId=@Model.UserId param-ReplyCountEnabled=@Model.ReplyCountEnabled />
    </div>
    <div class="col">
        <ul class="nav nav-tabs" id="userTab" role="tablist">
            <li class="nav-item" role="presentation">
                <button class="nav-link active" id="userTabReply" data-bs-toggle="tab" data-bs-target="#reply" type="button" role="tab">评论</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="userTabDynamic" data-bs-toggle="tab" data-bs-target="#dynamic" type="button" role="tab">动态</button>
            </li>
        </ul>
        <div class="tab-content" id="userTabContent">
            <div class="tab-pane fade show active" id="reply" role="tabpanel">
                <component type="typeof(ReplyPagination)" render-mode="Server" param-UserId=@Model.UserId/>
            </div>
            <div class="tab-pane fade" id="dynamic" role="tabpanel">
                <component type="typeof(DynamicPagination)" render-mode="Server" param-UserId=@Model.UserId />
            </div>
        </div>
        
    </div>
</div>

